<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Funcionários - Grão de Gente</title>
        <link rel="icon" href="/static/assets/img/icon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
        <meta name="description" content="Site para gerenciamento e analise de produtividade do funcionário Grão de Gente"/>
        <meta name="author" content="Grão de Gente"/>
        <meta name="keywords" content="Grão de Gente"/>
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta name="langague" content="Portuguese"/>
        <meta name="country" content="Brazil"/>
        <meta name="copyright" content="Grão de Gente - © 2019"/>
        <link rel="stylesheet" href="/static/css/site.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
        <script src="/static/plugin/slick-1.8.0/slick/slick.min.js" defer></script>
        <script type="text/javascript" src="/static/js/script.js" defer></script>
        <script type="text/javascript" src="/static/js/authenticate.js" defer></script>
    </head>