<header class="header">
    <div class="container">
        <a href="/" title="Grão de Gente" class="logo">
            <figure>
                <img src="/static/assets/img/logo.svg" alt="Grão de Gente Logo"/>
            </figure>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/admin/cadastrar">
                        Cadastro
                    </a>
                </li>
                <li>
                    <a href="/admin/projetos">
                        Registros
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-session" id="logout">
            <i class="fas fa-user"></i>
            <button class="button-logout">Sair</button>
        </div>
    </div>
</header>