<header class="header">
    <div class="container">
        <a href="/" title="StreetCult Manager" class="logo">
            <figure>
                <img src="/static/assets/img/logo.png" alt="StreetCult Manager Logo"/>
            </figure>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/cadastrar">
                        Cadastro
                    </a>
                </li>
                <li>
                    <a href="/vendas">
                        Vendas
                    </a>
                </li>
                <li>
                    <a href="/produto/cadastrar">
                        Estoque
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user-session" id="logout">
            <i class="fas fa-user"></i>
            <button class="button-logout">Sair</button>
        </div>
    </div>
</header>