<% include ../includes/head %>
<% include ../includes/header %>
            <main
                <center>
                <h2>Cadastrar Usu치rio</h2>
                <form action="/admin/cadastrar/salvar" method="post">
                    <label>Usu치rio</label><br>
                    <input type="text" id="usuario" name="usuario" value="<%= dadosUser.usuario %>" placeholder="Usu치rio" style="text-align:center;"/><br><br>
                    <label>E-Mail</label><br>
                    <input type="email" id="email" name="email" value="<%= dadosUser.email %>" placeholder="E-Mail" style="text-align:center;"/><br><br>
                    <label>Senha</label><br>
                    <input type="password" id="senha" name="senha" value="<%= dadosUser.senha %>" placeholder="Password" style="text-align:center;"/><br><br>
                    <input type="submit" value="Cadastrar" style="padding:10px 40px;"><br>
                </form>
                <% if (validacao){ %>
                    <ul style="display:table;text-align:left;background-color:rgb(133, 0, 0);color:#fff;padding: 15px 40px;">
                        <% for (var i = 0; i < validacao.length; i++){ %>
                            <li style="border-bottom:1px solid #fff;padding-bottom:10px;margin-top:5px;">
                                <%= validacao[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
                <a href="/"><button style="padding:5px;">Voltar para p치gina inicial</button></a>
                <a href="/admin/login"><button style="padding:5px;">Login</button></a>
                </center>
            </main>
        <footer>
        </footer>
    </center>
    </body>
</html>