<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Login - StreetCult Manager</title>
        <link rel="icon" href="/static/assets/img/icon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
        <meta name="description" content="StreetCult Manager"/>
        <meta name="author" content="StreetCult Manager"/>
        <meta name="keywords" content="StreetCult Manager,Manager,Gerenciar,Gerenciamento,StreetCult"/>
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta name="langague" content="Portuguese"/>
        <meta name="country" content="Brazil"/>
        <meta name="copyright" content="StreetCult Manager - © 2019"/>
        <link rel="stylesheet" href="/static/css/login.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" defer></script>
        <script type="text/javascript" src="/static/js/script.js" defer></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <figure>
                    <img src="/static/assets/img/logo.png" alt="StreetCult Manager Logo"/>
                </figure>
            </div>
        </header>
        <main>
            <form action="/login/autenticar" method="post" id="formLogin">
                <div class="label-box">
                    <label><i class="fas fa-user"></i></label>
                    <input type="text" id="usuario" name="usuario" value="<%= dadosLogin.usuario %>" placeholder="Usuário"/>
                </div>
                <div class="label-box">
                    <label><i class="fas fa-lock"></i></label>
                    <input type="password" id="senha" name="senha" value="<%= dadosLogin.senha %>" placeholder="Senha"/>
                </div>
                <button type="submit" id="entrar">Entrar</button>
                <% if ( invalid ){ %>
                    <p><%= invalid %></p>
                <% } %>
                <% if ( validacao ){ %>
                    <ul class="errors-list">
                        <% for (var i = 0; i < validacao.length; i++){ %>
                            <li>
                                <%= validacao[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
                <p id="token401"></p>
            </form>
        </main>
        <footer>
            <small class="copyright">&copy; StreetCult Manager - 2019</small>
        </footer>
    </body>
</html>