<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Search Solutions Online - SSO</title>
        <link rel="icon" href="/static/assets/img/icon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
        <meta name="description" content="Criação e desenvolvimento da Web"/>
        <meta name="author" content="Search Solutions Online"/>
        <meta name="keywords" content="Site,Web,E-Commerce,Desenvolvimento,Developer,Desenvolver,Divulgacao,Marketing,Digital"/>
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta name="langague" content="Portuguese"/>
        <meta name="country" content="Brazil"/>
        <meta name="copyright" content="Search SO - © 2017"/>
        <!-- <link rel="stylesheet" href="/static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/plugin/slick-1.8.0/slick/slick.css"/>
        <link rel="stylesheet" href="/static/plugin/slick-1.8.0/slick/slick-theme.css"/>
        <link rel="stylesheet" href="/static/css/stylesheet.css"/>
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
        <script type="text/javascript" src="https://connect.facebook.net/pt-br/sdk.js"></script>
        <script src="/static/plugin/slick-1.8.0/slick/slick.min.js" defer></script>
        <script type="text/javascript" src="/static/js/script.js" defer></script>
        <script type="text/javascript" src="/static/js/authenticate.js" defer></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hdrpr">
                            <figure>
                                <img src="static/assets/img/logo.png" title="" alt=""/>
                            </figure>
                            <h1>Search Solutions Online</h1>
                            <a href="/admin/login">
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>

        </main>
        <footer>
            <small>&copy; Grão de Gente - 2019 &reg;</small>
        </footer>
    </body>
</html>