<% include ./includes/head %>
<% include ./includes/header %>
<main class="main-content">
    <div class="container">
        <p>Seja bem vindo ao painel administrativo da StreetCult Manager.</p>
        <p>Usuário:</p>
    </div>
</main>
<% include ./includes/footer %>